<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(errItems !== ''){ %>
      <p style="color:red"><%= errItems %></p>
    <% } %>
    <form class="" action="/items/add" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="brand" placeholder="brand">
      <input type="text" name="codeitem" placeholder="codeitem">
      <button type="submit" name="submit"> ADD  Item </button>
    </form>
  </body>
</html>
