<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/suppliers/edit/<%= dtSupplier.id %>" method="post">
      <input type="text" name="name" value="<%= dtSupplier.name %>">
      <input type="text" name="kota" value="<%= dtSupplier.kota %>">
      <button type="submit" name="submit">Save</button>
    </form>
  </body>
</html>
